@model Barber.Models.Employee

<h2>Dodaj Pracownika</h2>

<form method="post">
    <label>Imię:</label>
    <input type="text" name="FirstName" />
    <br />

    <label>Nazwisko:</label>
    <input type="text" name="LastName" />
    <br />

    <label>Specjalizacja:</label>
    <input type="text" name="Specialization" />
    <br />

    <input type="submit" value="Zapisz" />
</form>
