@* Views/Customers/Create.cshtml *@
@model Barber.Models.Customer

@{
    ViewBag.Title = "Dodaj Klienta";
}

<h2 class="mb-4">Dodaj Klienta</h2>
@Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })

<form method="post" class="row g-3">
    <div class="col-md-6">
        <label class="form-label">Imię:</label>
        <input type="text" name="FirstName" class="form-control" />
    </div>
    <div class="col-md-6">
        <label class="form-label">Nazwisko:</label>
        <input type="text" name="LastName" class="form-control" />
    </div>
    <div class="col-md-6">
        <label class="form-label">Telefon:</label>
        <input type="text" name="PhoneNumber" class="form-control" />
    </div>
    <div class="col-md-6">
        <label class="form-label">Email:</label>
        <input type="email" name="Email" class="form-control" />
    </div>

    <div class="col-12">
        <button type="submit" class="btn btn-primary">Zapisz</button>
        <a class="btn btn-secondary" href="@Url.Action("Index","Customers")">Anuluj</a>
    </div>
</form>
