@model Barber.Models.Customer

<h2>Dodaj Klienta</h2>

<form method="post">
    <label>Imię:</label>
    <input type="text" name="FirstName" />
    <br />

    <label>Nazwisko:</label>
    <input type="text" name="LastName" />
    <br />

    <label>Telefon:</label>
    <input type="text" name="PhoneNumber" />
    <br />

    <label>Email:</label>
    <input type="email" name="Email" />
    <br />

    <input type="submit" value="Zapisz" />
</form>
